<section class="about-show">

<h1>About Page!<h1>
<h1>This is an about page. This is a fake website where you can fake buy some plants and it is broken!</h1><br>
<h2>This took a really long time to get this about page to exist<h2><br>
<h3>ruby</h3>


</section>